html,
body {

  font-family: 'Nunito', sans-serif;
  padding-left: 30px;
  background-color: #77A6F7;
}

.user-profile-container {

  display:flex;
  flex-direction: row;

}

.top-container {
  width: 100%;
  height: 100px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.category-icon {

  height: 30px;
  width: 30px;
  padding: 5 5 5 5;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  float:right;
  margin-top: 10px;
  margin-right: 8px;
}

.category-icon-box {

  display:flex;
  flex-direction: column;
  align-items: center;

}

.category-icon-text {

  margin-top: 0px;
  font-size: 11px;


}

.category-single-message {

  font-family:'Poppins', sans-serif;
  font-size: 15px;
  width: 150px;

}

.message-category {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.messages-after-icon {

  display:flex;
  flex-direction:column;

}

.login-button {

  height: 40px;
  width: 80px;
  background-color: #FFCCBC;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;

}

.logout-button {
  height: 40px;
  width: 80px;
  background-color:#D3ECFC;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}

.main-logo {

  height: 70px;
  width: 60px;
  margin-right: 20px;

}

.login-logout-container {
  display: flex;
  flex-direction: row;

}

.message_holder {
  height: 600px;
  width: 500px;
  overflow: auto;
  border-radius: 10px;
  background-color: #D3ECFC;
}

.header {

  display: flex;
  font-size: 45px;
  margin-right: 140px;
  font-family: 'Poppins', sans-serif;
  color: white;

}

.logo-container {

  height:200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message-container {
  height: 600px;
  display:flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 40px;
}

.user-chat {
  color: #1dcaff;
}

#links {
  display: none;
  margin-left: 30px;
}

#categories {
  height: 750px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user_name {
  height: 30px;
  width: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-top: 10px;
  color:white;

}

.category-scroll-box {

  height: 250px;
  width: 250px;
  margin: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 4px solid #D3ECFC;
  overflow: auto;
  padding-left: 20px;
  padding-right:20px;
  padding-top: 20px;
  font-size: 13px;
  font-weight: 100;
  border-radius: 20px;
}

.user_name div:hover {
  background-color: #46b623;

}

.link_button {

  height: 50px;
  width: 100px;
  margin-left:30px;
}

.category_button {

  height: 50px;
  width: 100px;
  margin-left:30px;

}

.category {

  display: flex;
  width: 25px;
  height:20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
  border-radius: 25px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.category:hover {

  background-color: #FFCCBC;
  border: none;
}


.message {

  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  margin-bottom:20px;
  height: 25px;
  width: 350px;

}

.input-message {

  height: 40px;
  width: 200px;
  margin-top:20px;
}

.submit-message {

  height:20px;
  width:100px;

}
.voting-box {
  display: flex;
  flex-direction: row;
  height: 20px;
}


.message-box {

  display: flex;
  flex-direction: column;
  height: 90px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.category-box {
  display: flex;
  flex-direction: row;
}


.chat-container {

  display: flex;
  height: 1000px;
  width: 100%;
  flex-direction: row;

}

.sign-in-body {

  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color:#D3ECFC;
}

.header-login {

  font-family: 'Poppins', sans-serif;
  font-size: 50px;

}

.sign-in-box {

  display: flex;
  flex-direction: column;
  color: #D3ECFC;
  font-family: 'Poppins', sans-serif;

}

.message-box-message {

  display: flex;
  flex-direction: row;

}

.message-send {

  width:200px;
  height:40px;
  margin-top:20px;

}

.registration-container {

  display:flex;
  flex-direction: column;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
  color:white;

}


.trip-planner-welcome-box {

  display:flex;
  height: 750px;
  width: 100%;
  background-color: #77A6F7;
  flex-direction: column;
  justify-content: center;

}


.welcome-title {

  font-family:'Poppins', sans-serif;
  font-size: 80px;
  color: white;

}

.welcome-sub-text {

  font-family:'Poppins', sans-serif;
  font-size: 20px;

}

.welcome-login {

  font-family:'Poppins', sans-serif;
  font-size: 15px;
  background-color:#FFCCBC;
  height: 50px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.welcome-login:hover {


  background-color:#D3ECFC;

}


.landing-logo-container {

  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}


.category-overview {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  width: 475px;
  margin-left: -50px;

}

.generate-itinerary-button {

  height: 30px;
  width: 130px;
  background-color: #FFCCBC;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size:11px;
  margin-left:50px;
  margin-top: 10px;
}

.confirmation-header {

  height:150px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;

}

.container-category {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;

}

.confirmation-back-btn {

  height: 40px;
  font-family: Poppins;
  width: 150px;
  font-size: 15px;
  background-color: #FFCCBC;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.confirmation-header-text {

  font-family: Poppins;
  color: #D3ECFC;
  font-size: 50px;
  font-weight: 300;


}

.category-confirmation {

  height: 250px;
  width: 400px;
  background-color:#D3ECFC;
  margin: 3px 3px 3px 3px;
  display: flex;
  flex-direction: column;

}

.category-confirmation-text {

  margin-left: 65px;


}
